<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      body {
        margin: 0;
        background-color: #f7f7f9;
      }
      .form-area {
        /* background: #000; */
        padding: 1px;
        position: fixed;
        bottom: 45px;
        width: 100%;
      }
      #example-1 {
        list-style-type: none;
        margin: 0;
        padding: 0;
        max-height: 500px;
        overflow-y: scroll;
      }
      #messages li:nth-child(odd) {
        background: #eee;
      }
    </style>
  </head>
  <body>
    <div id="app" class="container">
      <div class="broadcast-area">
        <div id="messages">
          <ul id="example-1">
            <li v-for="(message, index) in messages" :key="index">
              {{message}}
            </li>
          </ul>
        </div>
      </div>

      <div class="form-area">
        <form v-on:submit.prevent="onSubmit">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="formGroupExampleInput">Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Name"
                  v-model="form.name"
                  required
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="formGroupExampleInput">Email</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  v-model="form.email"
                  required
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="formGroupExampleInput">Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Phone Number"
                  v-model="form.phone_number"
                  required
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="formGroupExampleInput">Message</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Message"
                  v-model="form.message"
                  required
                />
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="formGroupExampleInput">Action</label><br />
                <button class="btn btn-primary">
                  Submit
                </button>
                <!-- <button>Send</button> -->
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      var socket = io();
      var app = new Vue({
        el: "#app",
        data: {
          messages: [],
          form: {
            name: "",
            email: "",
            phone_number: "",
            message: "",
          },
        },
        methods: {
          onSubmit: function (event) {
            socket.emit("post_message", this.form);
          },
        },
        mounted() {
          socket.on("response_message", (data) => {
            this.messages = [data, ...this.messages];
          });

          axios
            .get("/messages")
            .then((response) => {
              console.log(response);
              if (response && response.status == 200) {
                if (response.data.length > 0) {
                  let messages = response.data
                    .map((el) => el.message)
                    .reverse();
                  this.messages = messages;
                }
              }
            })
            .catch((error) => {
              console.log(error);
            });
        },
      });
    </script>
  </body>
</html>
